.app {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr repeat(4, 70px);
  grid-template-areas:
    " head head head "
    " cat cat cat "
    "ques ques ques"
    ". nextQuestion ."
    ". scoreboard .";
}

.mainHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: head;
}

.questionDisplay {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: ques;
}

.nextQuestionButton {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: nextQuestion;
}

.scoreBoard {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  grid-area: scoreboard;
}
